@font-face {
	font-family: "aeriscommmonsfonts";
	src: url("aeriscommmonsfonts.eot?b058c73556c4fc310ef2845296181e61?#iefix") format("embedded-opentype"),
url("aeriscommmonsfonts.woff2?b058c73556c4fc310ef2845296181e61") format("woff2"),
url("aeriscommmonsfonts.woff?b058c73556c4fc310ef2845296181e61") format("woff");
}

.aeris-icon {
	line-height: 1;
}

.aeris-icon:before {
	font-family: aeriscommmonsfonts !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.aeris-icon-chamber:before {
	content: "\f101";
}
.aeris-icon-experiment:before {
	content: "\f102";
}
.aeris-icon-wall:before {
	content: "\f103";
}
.aeris-icon-ionization:before {
	content: "\f104";
}
.aeris-icon-resolution:before {
	content: "\f105";
}
.aeris-icon-spectrum:before {
	content: "\f106";
}
.aeris-icon-aircraft:before {
	content: "\f107";
}
.aeris-icon-balloon:before {
	content: "\f108";
}
.aeris-icon-eos:before {
	content: "\f109";
}
.aeris-icon-insitulandplatform:before {
	content: "\f10a";
}
.aeris-icon-spacestation:before {
	content: "\f10b";
}
.aeris-icon-atmosphericsimulationchamber:before {
	content: "\f10c";
}
.aeris-icon-unknown:before {
	content: "\f10d";
}
