@font-face {
	font-family: "aeriscommmonsfonts";
	src: url("aeriscommmonsfonts.eot?93082bb652b8dcc0e012d1969acfcda0?#iefix") format("embedded-opentype"),
url("aeriscommmonsfonts.woff2?93082bb652b8dcc0e012d1969acfcda0") format("woff2"),
url("aeriscommmonsfonts.woff?93082bb652b8dcc0e012d1969acfcda0") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: aeriscommmonsfonts !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-chamber:before {
	content: "\f101";
}
.icon-experiment:before {
	content: "\f102";
}
.icon-wall:before {
	content: "\f103";
}
